

<style>
	.box {
	  	background-color: #cf8044;
	  	color: #fff;
	  	padding: 20px;
  		position: relative;
  		font-size: 1.5em;
	}

	.box.arrow-bottom:after {
		content: "";
		position: absolute;
		right: 6px;
		bottom: -10px;
		border-top: 15px solid #cf8044;
		border-right: 15px solid transparent;
		border-left: 15px solid transparent;
		border-bottom: none;
	}
</style>

<div class="row align-items-center vh-100">
	<div class="col-12 col-lg-6 text-center ">
		
		<ul class="lh-sm text-body-tertiary list-unstyled mb-4">
			<li class="mb-3">
				<div class="box arrow-bottom badge px-5">
					It's me
				</div>
			</li>
			
			<span class="h1">John Keithrey D. Soriano</span>
			<div class="small fw-bolder">Junior Web Developer</div>	
		</ul>

		<div class="row">
			<div class="col-12 col-lg-7 m-auto">
				Junior Developer from Phillipines with solid experience in Codeigniter framework in building complex applications with modern technologies 	
			</div>
		</div>
	</div>
	<div class="col d-flex justify-content-center">
		
		<div class="card">
			<div class="card-body">
				
			</div>
		</div>

	</div>
</div>