<div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler animate__animated  animate__pulse" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="me-auto fw-bold hstack gap-2">
        <i class="ri-mail-line c-brown fs-4"></i>
        <span class="text-muted">keith3soriano@gmail.com</span>
      </div>
      <div class="hstack gap-4 nav-bar-right">
        <a class="btn border-0 fw-bold">Works</a>
        <span class="btn active px-5 py-2 " type="button">Working</span>
      </div>
    </div>
  </div>